---
layout: default
---
<style>
  .subtitle {
    line-height: 2;
  }
</style>

<div class="container-fluid">
  <div class="row block first">
    <div class="col-xs-12">
      <h1 class="top-block center">
        <img src="/assets/images/title.svg" alt="Bonjour Noël" />
      </h1>

      <div class="row middle-block">
        <div class="col-xs-12">
          <div class="row line-container">
            <div class="col-sm-offset-4">
            </div>
            <div class="col-sm-4">
              {% include line.html %}
            </div>
          </div>

          <div class="row subtitle">
            <div class="col-sm-offset-3">
            </div>
            <div class="col-sm-1">
              {% include star.html %}
            </div>
            <div class="col-sm-4">
              La magie de Noël arrive bientôt
            </div>
            <div class="col-sm-1">
              {% include star.html %}
            </div>
            <div class="col-sm-3">
            </div>
          </div>

          <div class="row line-container">
            <div class="col-sm-offset-4">
            </div>
            <div class="col-sm-4">
              {% include line.html %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
