---
layout: default
---

<div class="container-fluid">
  <div class="row block full-screen first">
    <div class="col-xs-12">
      <h1 class="top-block center">
        <img src="/assets/images/title.svg" alt="Bonjour Noël" />

        <div class="countdown">Voilà, c'est fini !</div>
      </h1>

      <div class="row middle-block">
        <div class="col-xs-12">
          <div class="row line-container">
            <div class="col-sm-offset-4"></div>
            <div class="col-sm-4">{% include line.html %}</div>
          </div>

          <div class="row subtitle">
            <div class="col-sm-offset-3"></div>
            <div class="col-sm-1">{% include star.html %}</div>
            <div class="col-sm-4">your daily dose of christmas porn</div>
            <div class="col-sm-1">{% include star.html %}</div>
            <div class="col-sm-3"></div>
          </div>

          <div class="row line-container">
            <div class="col-sm-offset-4"></div>
            <div class="col-sm-4">{% include line.html %}</div>
          </div>
        </div>
      </div>

      <div class="row last-block down-arrow-wrapper">
        <div class="col-sm-12">
          <div class="row hide-xs spotify-player">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                  <iframe
                    src="https://open.spotify.com/embed/track/3KCLtcuYgPLLRJmQNXTvWR?utm_source=generator&theme=0"
                    width="100%"
                    height="80"
                    frameBorder="0"
                    allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                  >
                  </iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
