---
layout: default
---
<style>
  .subtitle {
    line-height: 2;
  }

  @media (min-width: 576px) {
    .block.first .top-block {
      --h: 25vh;
      height: var(--h);
      height: calc(var(--h) - var(--vh-offset, 0px));
    }

    .block.first .middle-block {
      --h: 45vh;
      height: var(--h);
      height: calc(var(--h) - var(--vh-offset, 0px));
    }

    .block.first .last-block {
      --h: 30vh;
      height: var(--h);
      height: calc(var(--h) - var(--vh-offset, 0px));
    }
  }

  @media (max-width: 576px) {
    .block.first .top-block {
      --h: 30vh;
      height: var(--h);
      height: calc(var(--h) - var(--vh-offset, 0px));
    }

    .block.first .middle-block {
      --h: 45vh;
      height: var(--h);
      height: calc(var(--h) - var(--vh-offset, 0px));
    }

    .block.first .last-block {
      --h: 25vh;
      height: var(--h);
      height: calc(var(--h) - var(--vh-offset, 0px));
      margin-top: 50px;
    }

    .first .line-svg {
      display: inline-block;
    }
  }

  .twitter-button {
    text-align: center;
  }
</style>

<div class="container-fluid">
  <div class="row block first">
    <div class="col-xs-12">
      <h1 class="top-block center">
        <img src="/assets/images/title.svg" alt="Bonjour Noël" />
      </h1>

      <div class="row middle-block">
        <div class="col-xs-12">
          <div class="row line-container">
            <div class="col-sm-offset-4">
            </div>
            <div class="col-xs-12 col-sm-4">
              {% include line.html %}
            </div>
          </div>

          <div class="row subtitle">
            <div class="col-sm-offset-3">
            </div>
            <div class="col-sm-1">
              {% include star.html %}
            </div>
            <div class="col-sm-4">
              La magie de Noël arrive bientôt
            </div>
            <div class="col-sm-1">
              {% include star.html %}
            </div>
            <div class="col-sm-3">
            </div>
          </div>

          <div class="row line-container">
            <div class="col-sm-offset-4">
            </div>
            <div class="col-xs-12 col-sm-4">
              {% include line.html %}
            </div>
          </div>
        </div>
      </div>

      <div class="row last-block">
        <div class="col-xs-12">
          <div class="twitter-button">
            <a href="https://twitter.com/bonjournoel?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true" data-size="large">
              Follow @bonjournoel
            </a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>

          <div class="row spotify-player">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                  <iframe
                    src="https://open.spotify.com/embed/track/0bYg9bo50gSsH3LtXe2SQn?utm_source=generator&theme=0"
                    width="100%"
                    height="80"
                    frameBorder="0"
                    allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
                  </iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/vh-check/dist/vh-check.min.js"></script>
<script>
  (function () {
    vhCheck();
  }());
</script>
