<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" class="star-svg" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 141.73 141.73" style="enable-background:new 0 0 141.73 141.73;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke-width:2;stroke-miterlimit:10;}
</style>
<g>
	<line class="st0" x1="137.67" y1="71.05" x2="4.57" y2="71.05"/>
	<line class="st0" x1="71.12" y1="4.5" x2="71.12" y2="137.6"/>
	<line class="st0" x1="118.18" y1="24" x2="24.06" y2="118.11"/>
	<line class="st0" x1="132.59" y1="45.56" x2="9.65" y2="96.55"/>
	<line class="st0" x1="24.06" y1="24" x2="118.18" y2="118.11"/>
	<line class="st0" x1="45.72" y1="9.54" x2="96.52" y2="132.57"/>
	<line class="st0" x1="9.66" y1="45.53" x2="132.58" y2="96.58"/>
	<line class="st0" x1="96.5" y1="9.53" x2="45.74" y2="132.58"/>
</g>
</svg>
