:root {
  --white: rgb(244, 242, 243);
  --green-light: rgb(169, 191, 172);
  --green-dark: rgb(39, 67, 50);
  --red-dark: rgb(95, 29, 23);
  --red: rgb(215, 78, 72);
}

body {
  background-color: var(--white);
}

h1.title {
  text-align: center;
}

.christmas-tree .img-wrapper {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 600px;
}

.debat {
  font-size: 32px;
}

.debat p {
  margin: 20px 50px;
}

.spotify-player {
  margin-top: 20px;
}
